.panels {
  display: flex;
  min-height: 100vh;
  overflow: hidden;
}

.panel {
  background: #6B0F9C;
  box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
  color: white;
  display: flex;
  text-align: center;
  transition: font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.2s;
  font-size: 20px;
  flex: 1;
  flex-direction: column;
  background-size: cover;
  background-position: center;
}

.panel > * {
  align-items: center;
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  margin: 0;
  transition: transform 0.5s;
  width: 100%;
}

.panel > *:first-child {
  transform: translateY(-100%);
}

.panel.open-active > *:first-child {
  transform: translateY(0);
}

.panel > *:last-child {
  transform: translateY(100%);
}

.panel.open-active > *:last-child {
  transform: translateY(0);
}

.panel p {
  font-family: 'Amatic SC', cursive;
  font-size: 2em;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
  text-transform: uppercase;
}

.panel p:nth-child(2) {
  font-size: 4em;
}

.panel.open {
  font-size: 40px;
  flex: 5;
}